In [2]:
# ANS 1 =>

import pandas as pd
sr=pd.Series([4,8,15,16,23,42])
print(sr)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
# ANS 2 =>

import pandas as pd
lst=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sr=pd.Series(lst)
print(sr)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
# ANS 3 =>

import pandas as pd

data = {'Name': ['Yash', 'Sarthak', 'Shristy'],
        'Age': [21, 18, 16],
        'Gender': ['Male', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

      Name  Age  Gender
0     Yash   21    Male
1  Sarthak   18    Male
2  Shristy   16  Female

In [6]:
# ANS 4 =>

# In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is 
# similar to a table in a relational database or a spreadsheet in Excel. A Pandas DataFrame can be thought of as a 
# collection of Pandas Series, where each Series represents a column of data.

# A Pandas Series, on the other hand, is a one-dimensional labeled data structure that can hold any data type (integer, 
# float, string, etc.). It can be thought of as a single column of data in a DataFrame.

# Example

# import pandas as pd

# s = pd.Series([1, 2, 3, 4])

# df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': ['a', 'b', 'c', 'd']})

# print('Series:')
# print(s)

# print('\nDataFrame:')
# print(df)


# Output

# Series:
# 0    1
# 1    2
# 2    3
# 3    4
# dtype: int64

# DataFrame:
#    A  B
# 0  1  a
# 1  2  b
# 2  3  c
# 3  4  d

In [7]:
# ANS 5 =>

# There are many common functions and methods available in Pandas that can be used to manipulate data in a DataFrame. 
# Here are some of the most commonly used ones:

# 1) head(): returns the first n rows of the DataFrame. Useful for quickly inspecting the data to make sure it looks correct.

# Example => df.head(5) 

# 2) tail(): returns the last n rows of the DataFrame. Useful for quickly inspecting the end of the data.

# Example => df.tail(5)

# 3) describe(): generates descriptive statistics for the DataFrame. Useful for getting a quick overview of the data

# Example => df.describe()

# 4) info(): displays information about the DataFrame, such as the number of non-null values in each column and the data 
#     types of each column. Useful for checking the data types and detecting missing values.

# Example => df.info() 

# 5) loc[] and iloc[]: used for indexing and selecting data from the DataFrame. loc[] is label-based and selects data
#     based on row and column labels, while iloc[] is integer-based and selects data based on integer positions.

# Example => df.loc[0, 'A']  df.iloc[0, 0]

In [8]:
# ANS 6 =>

# Series and DataFrame are mutable in nature, while Panel is immutable.

# In a Series, the values can be changed using indexing or slicing. Similarly, in a DataFrame, you can change the values of
# individual cells, rows, or columns using indexing, slicing, or the loc[] and iloc[] methods.

# On the other hand, a Panel is a 3D data structure and is immutable, meaning once created, you cannot change its contents. 
# If you want to change a Panel, you need to create a new one with the desired changes. However, Panel is deprecated in the
# latest version of Pandas and is recommended to use other data structures such as multi-index DataFrames to represent 3D data.

In [9]:
# ANS 7 => 

import pandas as pd

names = pd.Series(['Yash', 'Sarthak', 'Shristy', 'AK'])
ages = pd.Series([21, 16, 19, 50])
genders = pd.Series(['M', 'F', 'M', 'M'])

df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

print(df)

# In this example, we define three Pandas Series, names, ages, and genders, which contain some data about people. We then 
# combine these Series into a single DataFrame using a Python dictionary where the keys represent the column names and the
# values represent the Series themselves. Finally, we print the resulting DataFrame.

      Name  Age Gender
0     Yash   21      M
1  Sarthak   16      F
2  Shristy   19      M
3       AK   50      M